body{
    background: linear-gradient(to bottom, #f2cfbb , #e9e29b);
    font-family: poppins, sans-serif;
}

h1{
    font-family:"Quicksand", sans-serif;
    font-size: 32px;
    color:#8E9546;
}

h2 {
    color: #8E9546;
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    margin-bottom: 15px;
}

h4 {
    color: #8E9546;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: #4F542B;
    margin-bottom: 15px;
}

h3 {
    color: #F28892;
    font-family: "Quicksand", sans-serif;
    font-size: 21px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 5px 20px;
    border: 2px solid #8E9546;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.foto-profil {
    display: block;
    width: 220px;
    height: 220px;
    margin: 20px auto;
    border-radius: 50%;
    border: 4px dotted #F28892;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    animation: muncul 1s ease;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu a {
    color: #8E9546;
    text-decoration: none;
    transition: 0.3s;
    padding: 8px 12px;
    border-radius: 12px;
}

.menu a:hover {
    color: #FFFFFF;
    background-color: #F1B4AF;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.container p {
    max-width: 750px;
}

#tentang {
    color:#F28892;
    font-size: 24px;
}

p {
    line-height: 1.6;
}

.daftar-belajar {
    display: flex;
    gap: 20px;
}

.kartu {
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #BBCA6F;
    border-radius: 15px;
    transition: transform 0.3s;
    width: 180px;
    height: 170px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.kartu:hover {
    transform: translateY(-5px);
}

h4 {
    color: #8E9546;
    font-size: 20px;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    color: #8E9546;
    margin-top: 20px;
}

.daftar-project {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.project-card {
    width: 320px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #8E9546;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-img {
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.project-card h3 {
    color: #8E9546;
    font-size: 20px;
}
.project-card p {
    font-size: 14px;
}
.tabel-project {
    border-collapse: collapse;
    width: 100%;
}
.tabel-project th,
.tabel-project td {
    padding: 10px;
    border: 1px solid #F28892;
}
.tabel-project th {
    background-color: #8E9546;
    color: #E9E29B;
    padding: 10px;
}
.tabel-project tbody tr:hover {
    background-color: #F2CFBB;
}

.daftar-hobi li {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border: 2px solid #F1B4AF;
    border-radius: 15px;
    transition: 0.3s;
}

.daftar-hobi li:hover {
    background-color: #F1B4AF;
    color: #FFFFFF;
}

.daftar-pendidikan {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-left: 5px solid #8E9546;
    border-radius: 10px;
}

.daftar-pendidikan li {
    padding: 8px;
}

.daftar-skill {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.skill-card {
    width: 220px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #BBCA6F;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 0.3s;
}
.skill-card:hover {
    transform: translateY(-5px);
}
.skill-card h3 {
    color: #8E9546;
    font-size: 20px;
    text-align: center;
}
.skill-card ul {
    padding-left: 20px;
}
.skill-card li {
    margin-bottom: 8px;
}

.daftar-target {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border: 2px solid #F1B4AF;
    border-radius: 15px;
}
.daftar-target li {
    margin-bottom: 10px;
}

.daftar-teknologi {
    display: flex;
    gap: 15px;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
}

.daftar-teknologi li {
    background-color: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #F1B4AF;
    border-radius: 15px;
    color: #4F542B;
    transition: 0.3s;
}

.daftar-teknologi li:hover {
    background-color: #F1B4AF;
    color: #FFFFFF;
}